html,
body,
#map {
  height: 100%;
  margin: 0;
}

main {
  height: calc(100% - 48px);
}

table {
  border-collapse: collapse;
}

.leaflet-bar {
  box-shadow: $box-shadow;
}

.leaflet-top {
  position: absolute;
  top: 0;
}

.leaflet-center {
  width: 100%;
}

.leaflet-routing-container-hide {
  display: none;
}
