$color-primary: #FF1744;

$color-text: #1B1718;

$color-background: white;
$color-background-alt: #F2F2F2;

$color-success: #3CE7A2;
$color-warning: #E7A23C;
$color-danger: #C0392b;

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);

$small-screen:  481px !default;
$medium-screen: 600px !default;
$large-screen:  1201px !default;
