.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-background;
  box-shadow: $box-shadow;
  z-index: 900;

  &__action {
    padding: map-get($spacing, 'x-small') map-get($spacing, 'small');
    min-width: 56px;
    max-width: 144px;
    flex: 1 1 auto;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-font-smoothing: auto;

    &::-moz-focus-inner {
      border: none; // removes padding in Firefox
      padding: 0;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover,
    &:active,
    &:focus {
      .bottom-nav__icon {
        fill: $color-primary-dark;
      }

      .bottom-nav__label {
        color: $color-primary-dark;
      }
    }

    &--active,
    &--active:hover,
    &--active:active,
    &--active:focus, {
      .bottom-nav__icon {
        fill: $color-primary;
      }

      .bottom-nav__label {
        color: $color-primary;
      }
    }
  }

  &__icon {
    display: block;
    width: 1em;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    font-size: 24px;
  }

  &__label {
    color: $color-text;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    display: block;
    font-size: 12px;
  }

  @media screen and (min-width: $medium-screen) {
    flex-direction: column;
    top: 0;
    right: auto;
    height: auto;
    width: 48px;
    align-items: flex-start;
    justify-content: flex-start;

    &__action {
      height: 48px;
      flex: 0 1 auto;
      min-width: auto;
    }

    &__label {
      @include sr-only();
    }
  }
}
